@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../table/table.css);
@import url(../description/two_columns.css);

.digits {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }