.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 0;
  color: #f2f2f2;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.footer__column-link:hover {
  opacity: 0.5;
}