@import url(./_theme/section-subtitle_theme_dark.css);

.section-subtitle {
  max-width: 60%;
  text-align: center;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}