@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);
@import url(./__background-image/feynman__background-image.css);

.feynman {
  /*allows height to change with content*/
  min-height: 790px;
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f2f2;
  z-index: 1;
}