@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #1f1f1f;
  padding-bottom: 2px; /* correct a white line that runs between sections*/
  z-index: 1;
}