.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -210px;
    background-image: url('../images/triangle.svg');
    /*transform: skewY(-0.7deg) translate(-90px, 55px);*/
    z-index: 0;
  }