.footer__column-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0
  }

.footer__column-links:last-child {
  margin-bottom: 16px;
}

.footer__column-links:first-child {
  margin-top: 20px;
}