.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}




/* example of BEM selectors */

/*  needed?
.description {
  margin: 100px auto;
}
*/



/******************     Belongs in the description block just not sure where to place it just yet *******/

.two-columns__paragraph:nth-of-type(3) {
  margin-bottom: 0;
}



                          /* section digits block */


.section-title {
  width: 60%;
  text-align: center;
  align-self: center;
  margin-top: 100px;
  margin-bottom: 0;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%; /*again it is not centered with this width */
  text-align: center;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: flex;
  /*flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

                  /* section, feynman block */








                         /* Section, Kaufman block */



.section-title_theme_dark {
  margin-top: 90px;
  color: #fff;
  z-index: 1
}

.section-subtitle_theme_dark {
  color: #fff;
  z-index: 1;
}

.table_theme_dark {
  margin-top: 0;
  margin-bottom: 90px;
  padding-left: 0;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
  color: #fff;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -210px;
  background-image: url('../images/triangle.svg');
  /*transform: skewY(-0.7deg) translate(-90px, 55px);*/
  z-index: 0;
}

                                /* Site footer, footer block */

/***************TODO: You need to add the .footer__column-links:first-child 
                      and .footer__column-links:last-child
                      to the right section and import into FOOTER SECTION *************/